<div class="container">
  <div class="row">
    <div class="col-lg-5">

    <div class ="text-danger">
      <% if @book.errors.any? %>
      <div class="render">
      <p class="erroor_message"><%= @book.errors.count %> error prohibited this book from being saved:</p>
        <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        </ul>
      </div>
      <% end %>
    </div>

<h2>Editing Book</h2>
<%= form_with model:@book, local:true do |f| %>
  <div>
    <label for="inputtitle">Title</label>
    <div><%= f.text_field :title, autofocus: true %></div>
  </div>
  <div>
    <label for="inputbody">Opinion</label>
    <div><%= f.text_area :body %></div>
  </div>
  <%= f.submit "Update Book", class: 'btn btn-success' %>

<% end %>

<%= link_to "Show", book_path %>
<%= link_to "Back", books_path %>

    </div>
  </div>
</div>