<%= render 'books/userinfo' %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">


          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg"; %>
              <% end %>
             <div><%= link_to @user.name, user_path(@book.user.id) %></div>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>

            <td>
            <button type="button" class="btn btn-success  mb-3 ">
            <%= link_to "Edit", edit_book_path(@book), class:'text-white' %>
            </button>
            </td>

            <td>
            <button type="button" class="btn btn-danger  mb-3 ">
            <%= link_to "Destroy", book_path(@book), method: :delete,"data-confirm" => "Are you sure", class:'text-white'  %>
            </button>
            </td>

            <% end %>
          </tr>


      </table>
    </div>
  </div>
</div>